<?xml version="1.0" encoding="UTF-8"?>
<!-- secure -->
<configuration>
  
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="User" />
      </authorization>

      <customErrors mode="On" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="401" redirect="~/Login.aspx" />
      </customErrors>
        <identity impersonate="false" />
      
    </system.web>
</configuration>
